/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  
}



/******************************************
/* LAYOUT /* CACULATOR
/*******************************************/

header {

}

footer {

}

.display{
     color: gray;
}

button {
     background-color: rgb(23, 21, 21);
     color: gray;
}

body {
     background-color: rgb(34, 32, 32);
}

.calculator {
    border: 5px red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
