/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  
}



/******************************************
/* LAYOUT /* CACULATOR
/*******************************************/

header {

}

footer {

}

/* #calcu {
     width: 100%
} */

.buttons {
     width: 80%;
}

#displayNumScreen {
     width: 90%;
     background-color: rgb(23, 21, 21);
     color: gray;
}

.display{
     color: gray;
}

.calButton {
     background-color: rgb(23, 21, 21);
     color: gray;
     width: 100%;
     
}

body {
     background-color: rgb(34, 32, 32);
}
#result {
     background-color: rgb(23, 21, 21);
     color: gray;
     width: 92%;
}

#resetButton{
     width: 1%;
}

.calculator {
    border: 5px red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
